<h2 class="title"> <i class="fa fa-address-card-o" aria-hidden="true"></i> Personal information</h2>

<div class="reponseive-row">
  <div class="image-cropper">
    <img alt="my photo" src="../../../assets/imageges/mypoto.jpg">
  </div>
  <div class="img-side">
    <div class="row">
      <h4>Birth Date :</h4>1/10/1995.
    </div>
    <div class="row">
      <h4>Nationality :</h4>Egyptian.
    </div>
    <div class="row">
      <h4>Military Status :</h4> Exemption.
    </div>
    <div class="row">
      <h4>Marital Status: :</h4>Single.
    </div>
  </div>
</div>

<br>
<br>
<h2 class="title"> <i class="fa fa-diamond" aria-hidden="true"></i> Personal skills</h2>

<ul>
  <li>Working independently OR as a part of a team.</li>
  <li>Fast self-learner for new technologies</li>
  <li>Self-motivated and supporter for my team</li>
  <li>Have a good analytical thinking and problem solving skills</li>
  <li>Have good communication skills</li>
</ul>

<h2 class="title"> <i class="fa fa-language" aria-hidden="true"></i>
   Languages</h2>

<ul>
  <li>Arabic : Mother tongue</li>
  <li>
    English
    <ul>
      <li>Reading : Excellent</li>
      <li>writing : Very Good</li>
      <li>listen : Excellent</li>
      <li>speeking : very good</li>
    </ul>
  </li>
  <li>Deutsch : (start learning)</li>
</ul>
