<h2 class="title"> <i class="fa fa-briefcase" aria-hidden="true"></i>
  Work</h2>

<div class="work">
  <h3>freelancer software Engineer</h3>
  2017 - present
</div>
<div class="work">
  <h3>Research Assistant</h3>
  At : El Shorouk Academy, Cairo, Egypt <br>
  Nov 2018 - jun 2020
</div>

<h2 class="title"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
  Education </h2>


<h3>Bachelor of Engineering </h3>
Major : Electrical and Electonics Engineering <br>
From : El Shorouk Academy, Cairo, Egypt <br>
Sep 2013- Jul 2018

<h2 class="title"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Courses</h2>

<div class="course">
  <h3>Introduction to Algorithm 6.006</h3>
  MIt, open Course Ware <br>
  <a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-006-introduction-to-algorithms-fall-2011/">Course Number 6.006</a>
</div>

<div class="course">
  <h3>Mathematics for Computer Science</h3>
  MIt, open Course Ware <br>
  <a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-042j-mathematics-for-computer-science-fall-2010/" >Course Number 6.042j</a>
</div>

<div class="course">
  <h3>Embedded system mini-diploma f64</h3>
   Embedded fab compony, july-2015
</div>
