<h2 class="title"><i class="fa fa-code" aria-hidden="true"></i>
  My Tech life summary <i class="fa fa-code" aria-hidden="true"></i>
 </h2>

<p>My knowledge start from electronic circuits analysis and how those circuits build logic gates and how those gates
  working together to make the basic components like CPU and RAM ... even I built myself a basic ALU (arithmetic logic
  unit) when I was in college
</p>
<p>Coming to a good part when I started to learn Software specially in C language and spending a lot of time making
  silly programs (it was my hobby) and make some small cool robots ...
</p>
<p>While I was building robots I have learned so much like Assembly programming (specifically AVR Assembly), writing
  hardware drivers, and dealing with a small OS kernel called freeRTOS
</p>
<p>within freeRTOS i learned to make my program as tasks (which is my favorite concept "separation of concern")and
  understand how OS schedule and handle Tasks ...this stuff later helped me to understand parallel programming
</p>

<p>then I have got introduced to OOP (object-oriented programming) through C++ and from that time I see every thing
  around me as objects
</p>

<p>OOP lead me to learn Java ... but I hate the performance of java then I decided to continue with C# and DotNet
  platform and build some desktop apps and server side application with asp.net core
</p>

<p>in those apps I faced some problem and the solution was simple Design patterns ... and guess what I loved the Design
  patterns and use this concepts whenever it is possible
</p>

<p>also, I have a very good knowledge in web UI coding HTML, CSS, JavaScript, typescript and Angular
</p>

<p>finally, I would say I really have a great passion for programming and I like to do it in team and i continuously
  searching for codings friend
</p>
