
<div class="header">
  <h1 class="name">Ibram Reda</h1>
  <h2 class="job-title">Full-Stack software engineer</h2>
</div>


<ul class="nevegation">
  <li><a routerLink="home" routerLinkActive="active-link">  HOME </a></li>
  <li><a routerLink="about"routerLinkActive="active-link"> ABOUT</a></li>
  <li><a routerLink="work"routerLinkActive="active-link"> Work & Education </a></li>
</ul>

<div class="container">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="side-info">
    <app-side-bar></app-side-bar>
  </div>
</div>
