<div class="side">

  <h2>social accounts</h2>
  <div class="row">
  <a target="_blang" href="https://www.facebook.com/IbramReda1/" class="fa fa-facebook"></a>
  <a target="_blang" href="https://www.linkedin.com/in/ibram-reda-6202aa149/" class="fa fa-linkedin"></a>
  <a target="_blang" href="https://github.com/abramReda" class="fa fa-github"></a>
  <a target="_blang" href="https://stackoverflow.com/users/9482050/ibram-reda" class="fa  fa-stack-overflow"></a>
</div>

<h2>Address Details</h2>
Nasr City, Cairo, Egypt
<h2>Mobile:</h2>
+20-1281397534
<h2>E-mail:</h2>
abramreda815@gmail.com

</div>
